body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face {
    src: url("/fonts/glyphicons-halflings-regular.woff");
}

.bd-navbar {
    min-height: 4rem;
    background-color: #ef2626;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

    .bd-navbar .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
        color: #fff2f2;
    }

.link-color {
    color: white;
}

.footer-bla {
    position: relative;
    bottom: 0;
}

#canvas {
    width: 100%;
}

.title {
    color: #ef2626;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.bar {
    fill: #ef2626;
    transition: fill 3s;
}

    .bar:hover {
        fill: orange;
    }

.axis {
    font: 10px sans-serif;
}

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

.recipe-content {
    min-width: 100%;
    min-height: 250px;
}
